
@import "../parciales/header";
@import "../parciales/main";
@import "../parciales/footer";
@import "../parciales/inicio";
@import "../parciales/actividades";
@import "../parciales/galeria";
@import "../parciales/nosotros"; 
@import "../parciales/contacto";
@import "../parciales/mixin";


a:link{
    text-decoration:none;
}

li{
    list-style: none;
}
a{
    border-radius: 10%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
a:hover{
    background-color: rgba(206, 82, 5, 0.5);

}


iframe{
    width: 100%;
    height: 90%;
}