@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 8, 8, 0.5)), to(rgba(2, 8, 8, 0.5))), url(../imagenes/bg-2.jpg) no-repeat center center fixed;
  background: linear-gradient(rgba(2, 8, 8, 0.5), rgba(2, 8, 8, 0.5)), url(../imagenes/bg-2.jpg) no-repeat center center fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main .general__main .main__articulo {
  background: rgba(255, 255, 255, 0.7);
}

.main .general__main .main__section .section__ribbon {
  background: rgba(255, 255, 255, 0.7);
  background-image: repeating-linear-gradient(45deg, transparent, transparent, 25px, rgba(14, 78, 52, 0.3) 25px, rgba(14, 78, 52, 0.7) 40px);
}

.main .general__main .main__section .section__cards .card__pesca {
  background: rgba(255, 255, 255, 0.7);
}

.main .general__main .main__section .section__cards .card__flotadas {
  background: rgba(255, 255, 255, 0.7);
}

.main .general__main .main__section .section__cards .card__rafting {
  background: rgba(255, 255, 255, 0.7);
}

.section__cards img {
  max-width: 100%;
  height: 270px;
}

/*
.main__titulo--grande{
    @include alignContenido (center, 10px, 0px)   
    }

    .main__desc{
        @include alignContenido (left, 1rem, px)  
    }

    .main__section{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

        .section__rafting{
            @include tamañoContenedor();
                       
            .rafting__titulo{
                @include alignContenido (center, 0px, 5px)
            }
        }
    
    
        .section__flotadas{
            @include tamañoContenedor();

            .flotadas__titulo{
                @include alignContenido (center, 0px, 5px)
            }
        }
    
    
        .section__pesca{
            @include tamañoContenedor();

            .pesca__titulo{
                @include alignContenido (center, 0px, 5px)
            }            
        }
        
    
    */
.main .main__act .act__articulo .act__ribbon {
  background: rgba(255, 255, 255, 0.7);
  background-image: repeating-linear-gradient(45deg, transparent, transparent, 25px, rgba(14, 78, 52, 0.3) 25px, rgba(14, 78, 52, 0.7) 40px);
}

.main .main__act .act__cards .card {
  background: rgba(255, 255, 255, 0.7);
}

.carousel__img {
  height: 500px;
}

@media only screen and (max-width: 427px) {
  .carousel__img {
    height: 250px;
  }
}

.nosotros__empresa, .nosotros__equipo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nosotros__empresa .nosotros__empresa--titulo, .nosotros__equipo .nosotros__empresa--titulo {
  color: black;
  margin: 30px;
}

.nosotros__empresa .nosotros__empresa--1, .nosotros__equipo .nosotros__empresa--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nosotros__empresa .nosotros__empresa--1 .empresa__img, .nosotros__equipo .nosotros__empresa--1 .empresa__img {
  margin: 20px;
}

.nosotros__empresa .nosotros__empresa--1 .empresa__img--desc, .nosotros__equipo .nosotros__empresa--1 .empresa__img--desc {
  text-align: justify;
  margin: 30px;
  color: white;
}

.nosotros__equipo {
  margin: 20px;
}

.nosotros__equipo .nosotros__equipo--titulo {
  color: black;
  margin: 30px;
}

.nosotros__equipo .todos__nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px;
}

.nosotros__equipo .equipo__desc {
  text-align: justify;
}

.contacto__general {
  background: rgba(2, 8, 8, 0.2);
  color: white;
}

.contacto__general .contacto__info .icono {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto__general .contacto__form {
  background: rgba(255, 255, 255, 0.7);
}

.contacto__general .contacto__form .form__imput {
  padding: 20px;
}

.contacto__general .contacto__form .inputs input {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #eee;
}

.contacto__general .contacto__form .inputs input:focus {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid rgba(206, 82, 5, 0.5);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contacto__general .contacto__form .input__txt {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #eee;
  width: 100%;
  resize: none;
}

a:link {
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  border-radius: 10%;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

a:hover {
  background-color: rgba(206, 82, 5, 0.5);
}

iframe {
  width: 100%;
  height: 90%;
}
/*# sourceMappingURL=main.css.map */