*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1920px;
}   

a:link{
    text-decoration:none;
}
li{
    list-style: none;
}
a{
    border-radius: 10%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
a:hover{ 
    background-color: rgb(153, 153, 255);

}




.main{
    grid-area: "main";
    padding: 10px;
}
.main__titulo--grande{
    text-align: center;
    margin: 10px;    
}
.main__desc{
    text-align: left;
    margin: 1rem;    
}
.main__section{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section__rafting{
    width: 420px;
    height: 600px;
}

.rafting__titulo{
    text-align: center;
    margin-bottom: 5px;
}

.section__flotadas{
    width: 420px;
    height: 600px;
}

.flotadas__titulo{
    text-align: center;
    margin-bottom: 5px;
}

.section__pesca{
    width: 420px;
    height: 600px;
}

.pesca__titulo{
    text-align: center;
    margin-bottom: 5px;
}

iframe{
    width: 100%;
    height: auto;
}

.actividades{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.actividades__titulo{
    text-align: center;
}
.actividades__rafting--titulo{
    text-align: center;
    margin-bottom: 10px;
}
.rafting__info{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}











/*
.galeria{
    display: grid;
    gap: 1rem;
    /*grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4, 350px);
    *

    grid-auto-rows: 13rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
}
/*
.galeria div{
    height: 120px;
    width: 300px; 
}*

.galeria div img{
    height: 100%;
    width: 100%; 
}*

*/

div #galeria__img img{
    height: 400px;
    
}












/*
header

.header{
    position: relative;
    background-color: rgb(11, 83, 69);
    padding: 10px;
    border: 2px solid darkcyan;
    height: 70px; 
    margin: 2px;   
}
.header__logo{
    display: inline-block; 
    width: 40px;
    height: 45px;
}
.header__nav{
    position: absolute;
    top: 20px;
    right: 10px;        
}


.list__item{
    display: inline-block;
    text-decoration: none;
    padding: 5px;
}

header

main
.main{
    position: relative; 
    
}

.main__titulo--grande{
    text-align: center;
    border-bottom: 2px solid beige;
    color: black;
    padding: 5px;
}
.main__desc{
    margin-left: 20px;
    text-align: left;

}
.section__rafting{
    display: inline-block;
    width: 400px;
    position: absolute;
    left: 0%;
    box-sizing: content-box; 
    margin: 20px;
}

.rafting__titulo{
    margin-bottom: 10px;
    text-align: center;
    border-bottom: beige 2px solid;
    color: black;
    
}

.rafting__img{
    width: 100%;
}

.rafting__desc{
    text-align: justify;
    color: beige;
}

.section__flotadas{
    display: inline-block;
    width: 360px;
    position: absolute;
    left: 35.5%;    
    box-sizing: content-box; 
    margin: 20px;  
}

.flotadas__titulo{
    margin-bottom: 10px;
    text-align: center;
    border-bottom: beige 2px solid;
    color: black;
}

.flotadas__img{
    width: 100%;
}

.flotadas__desc{
    text-align: justify;
    color: beige;
}

.section__pesca{
    display: inline-block;
    width: 400px;
    position: absolute;
    right: 0%;
    box-sizing: content-box; 
    margin: 20px;
}

.pesca__titulo{
    margin-bottom: 10px;
    text-align: center;
    border-bottom: beige 2px solid;
    color: black;
}

.pesca__img{
    width: 100%;
}

.pesca__desc{
    text-align: justify;
    color: beige;
}

main

footer
.footer{
        
}

.footer__info{
    box-sizing: content-box;
    background: darkslategrey;
    color: beige;
    height: 20px;
 }
 
 .info__copy{

 }
 
 .info__insta{

 }
     
 
 .info__face{
     
}

 footer

 */

/*segunda seccion*/

 /*
.actividades__titulo{
     text-align: center;
 }

 .actividades__rafting{
     position: relative;

 }
 .actividades__rafting--titulo{
     position: absolute;
     left: 50%;
     color: tomato;     
 }
 .rafting__info--img{
    width: 500px;
    height: 300px;   
    position: absolute;
    top:30px;
    left: 20px;
} 

 .rafting__img--desc{
     text-align: justify;
 }

 .rafting__info--vid{
     width: 500px;
     height: 300px;
     position: absolute;
     left: 820px;
     top: 30px;
 }
 .rafting__vid--desc{
     text-align: justify;
 }

 .actividades__flotadas{
     position: relative;
 }

 .actividades__flotadas--titulo{
    position: absolute;
    top: 450px;
    left: 50%;
    color: tomato; 
 }

 .flotadas__info--img{
    width: 500px;
    height: 300px;   
    position: absolute;
    top: 500px;
    left: 20px;
 } 

 .flotatadas__img--desc{
     text-align: justify;
 }

 .flotadas__info--vid{
    width: 500px;
    height: 300px;   
    position: absolute;
    top: 500px;
    left: 820px;
 }

 .actividades__trekking{
position: relative;
 }

 .actividades__trekking--titulo{
    position: absolute;
    top: 900px;
    left: 50%;
    color: tomato; 
 }

 .trekking__info--img{
    width: 500px;
    height: 300px;   
    position: absolute;
    top: 950px;
    left: 20px;
 }

 .trekking__info--vid{
    width: 500px;
    height: 300px;   
    position: absolute;
    top: 950px;
    left: 820px;
 }

 .actividades__pesca{
     position: relative;
 }

 .actividades__pesca--titulo{
    position: absolute;
    top: 1400px;
    left: 50%;
    color: tomato; 
 }

 .pesca__info--img{
    width: 500px;
    height: 300px;   
    position: absolute;
    top: 1500px;
    left: 20px;
 }

.pesca__info--vid{
    width: 500px;
    height: 300px;   
    position: absolute;
    top: 1500px;
    left: 820px;
}

*/

/*
.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

*/


.nosotros__empresa{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nosotros__empresa--titulo{
    color: tomato;
    margin: 30px;
}

.empresa__img{
    margin: 20px;
}

.empresa__img--desc{
    text-align: justify;
    margin: 30px;
}

.nosotros__empresa--1{
    display: flex;
}

.nosotros__equipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.nosotros__equipo--titulo{
color: tomato;
margin: 30px
}

.todos__nosotros{
    display: flex;
    padding: 60px;
}
.equipo__desc{
    text-align: justify;
}

.nosotros__equipo--1{
    width: 300px;
    height: 400px;
}
.nosotros__equipo--2{
    width: 300px;
    height: 400px;
}
.nosotros__equipo--3{
    width: 300px;
    height: 400px;
}





.formulario__contacto{
    margin: 2rem;
    
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}