@import "./mixin";


.main{
    .general__main{

        .main__articulo{
            @include bgCard;
        }

        .main__section{
    
            .section__ribbon{
                @include bgCard;
                background-image: repeating-linear-gradient(45deg, transparent, transparent, 25px, rgba(14, 78, 52, 0.3) 25px, rgba(14, 78, 52, 0.7) 40px);
            }
    
            .section__cards{
    
                .card__pesca{
                    @include bgCard;                   
                }
            
                .card__flotadas{
                    @include bgCard;                    
                }
            
                .card__rafting{
                    @include bgCard;                    
                }
            }
        }
        
    }
}





/*
.main__titulo--grande{
    @include alignContenido (center, 10px, 0px)   
    }

    .main__desc{
        @include alignContenido (left, 1rem, px)  
    }

    .main__section{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

        .section__rafting{
            @include tamañoContenedor();
                       
            .rafting__titulo{
                @include alignContenido (center, 0px, 5px)
            }
        }
    
    
        .section__flotadas{
            @include tamañoContenedor();

            .flotadas__titulo{
                @include alignContenido (center, 0px, 5px)
            }
        }
    
    
        .section__pesca{
            @include tamañoContenedor();

            .pesca__titulo{
                @include alignContenido (center, 0px, 5px)
            }            
        }
        
    
    */