*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1920px;
}  

.main{
    grid-area: "main";
    padding: 10px;
}
