@import "./mixin";

.nosotros__empresa{
    display: flex;
    flex-direction: column;
    align-items: center;

        .nosotros__empresa--titulo{
            @include estiloTitulo;
            @include bgCard;
        }
        
        .empresa__img{
            margin: 20px;
        }
        
        .empresa__img--desc{
            text-align: justify;
            margin: 30px;
        }
        
        .nosotros__empresa--1{
            display: flex;
        }
}

.nosotros__equipo{
    @extend .nosotros__empresa;
    margin: 20px;

        .nosotros__equipo--titulo{
        @include estiloTitulo;
        @include bgCard;
        }
        
        .todos__nosotros{
            display: flex;
            padding: 60px;
        }
        .equipo__desc{
            text-align: justify;
        }
        
}

